

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>
    
</head>
<body>
    <!-- <H1> hello </H1>
    <h3 class="text-bold" id="total-sales"></h3> -->
    <!-- <canvas id="Chart1"></canvas> -->
    <div class="chart">
        <canvas id="Chart4" style="width: 100%; height: 420px"></canvas>
    </div>
    <canvas id="Chart4" style="width: 100%; height: 420px"></canvas>
    <!-- <div id="filters">
    <label for="districtFilter">District:</label>
    <select id="districtFilter">
        <option value="">All Districts</option>
        <option value="Rwamagana">Rwamagana</option>
        <option value="Kicukiro">Kicukiro</option>
        <option value="Bugesera">Bugesera</option>
        <option value="Gakenke">Gakenke</option>
        <option value="Gasabo">Gasabo</option>
        <option value="Huye">Huye</option>
        <option value="Karongi">Karongi</option>
        <option value="Kayonza">Kayonza</option>
        <option value="Kirehe">Kirehe</option>
        <option value="Muhanga">Muhanga</option>
        <option value="Musanze">Musanze</option>
        <option value="Rubavu">Rubavu</option>
        <option value="Nyarugenge">Nyarugenge</option>
        <option value="Rusizi">Rusizi</option>
        <option value="Gatsibo">Gatsibo</option>
        <option value="Ngoma">Ngoma</option>
        <option value="Nyagatare">Nyagatare</option>
        <option value="Burera">Burera</option>
        <option value="Gicumbi">Gicumbi</option>
        <option value="Rulindo">Rulindo</option>
        <option value="Gisagara">Gisagara</option>
        <option value="Ngororero">Ngororero</option>
        <option value="Nyabihu">Nyabihu</option>
        <option value="Nyamasheke">Nyamasheke</option>
        <option value="Kamonyi">Kamonyi</option>
        <option value="Nyamagabe">Nyamagabe</option>
        <option value="Nyanza">Nyanza</option>
        <option value="Nyaruguru">Nyaruguru</option>
        <option value="Ruhango">Ruhango</option>
        <option value="Rutsiro">Rutsiro</option>
        
    </select>
    
    <select id="profileFilter">
        <option value="">All Profiles</option>
        <option value="Government">Government</option>
        <option value="Private">Private</option> -->
        <!-- Add other profile options -->
    <!-- </select>
    <select id="sectorFilter">
        <option value="">All Sector</option>
        <option value="CENTRAL GOV">Central Government</option>
        <option value="TECH">TECH</option>
        <option value="EDUCATION">EDUCATION</option>
        <option value="ENTERPRISE">ENTERPRISE</option> -->
        
        <!-- Add other profile options -->
    <!-- </select>
    </div> -->
    
    <!-- Add other filter options (sector, product, account_manager) similarly -->
    
    <!-- <div id="reportContainer">
    <h1>table below</h1>
    </div>       -->
    
    <!-- <div id="dataGraph"> -->
        <!-- Data graph will be rendered here -->
    <!-- </div> -->

    <script>
        const ctx4 = document.getElementById("Chart4").getContext("2d");
        const chart4 = new Chart(ctx4, {
          // The type of chart we want to create
          type: "bar", // also try bar or other graph types
          // The data for our dataset
          data: {
            labels: ["Jan", "Fab", "Mar", "Apr", "May", "Jun"],
            // Information about the dataset
            datasets: [
              {
                label: "",
                backgroundColor: "#4A6CF7",
                barThickness: "flex",
                maxBarThickness: 8,
                data: [600, 700, 1000, 700, 650, 800],
              },
              {
                label: "",
                backgroundColor: "#d50100",
                barThickness: "flex",
                maxBarThickness: 8,
                data: [690, 740, 720, 1120, 876, 900],
              },
            ],
          },
          // Configuration options
          options: {
            borderColor: "#F3F6F8",
            borderWidth: 15,
            backgroundColor: "#F3F6F8",
            tooltips: {
              callbacks: {
                labelColor: function (tooltipItem, chart) {
                  return {
                    backgroundColor: "rgba(104, 110, 255, .0)",
                  };
                },
              },
              backgroundColor: "#F3F6F8",
              titleFontColor: "#8F92A1",
              titleFontSize: 12,
              bodyFontColor: "#171717",
              bodyFontStyle: "bold",
              bodyFontSize: 16,
              multiKeyBackground: "transparent",
              displayColors: false,
              xPadding: 30,
              yPadding: 10,
              bodyAlign: "center",
              titleAlign: "center",
            },
  
            title: {
              display: false,
            },
            legend: {
              display: false,
            },
  
            scales: {
              yAxes: [
                {
                  gridLines: {
                    display: false,
                    drawTicks: false,
                    drawBorder: false,
                  },
                  ticks: {
                    padding: 35,
                    max: 1200,
                    min: 0,
                  },
                },
              ],
              xAxes: [
                {
                  gridLines: {
                    display: false,
                    drawBorder: false,
                    color: "rgba(143, 146, 161, .1)",
                    zeroLineColor: "rgba(143, 146, 161, .1)",
                  },
                  ticks: {
                    padding: 20,
                  },
                },
              ],
            },
          },
        });
    </script>
    
 
</body>
</html>
